<!--
  id: "bannerCarousel" is an ID which should be defined in AEM dialog
  carousel-fade: "carousel-fade" CSS class name is an option to make fade transition
  overflow-visible: "overflow-visible" CSS class name is an option to make the images visible outside
  active: "active" class is on first item so that it will show on first load
  TODO: in future, we have to make "active" for seleted slide
-->
<div id="bannerCarousel" class="carousel slide carousel-fade">
  <div class="carousel-inner overflow-visible">
    <div class="carousel-item active">
      <!-- Contents here -->
    </div>
    <div class="carousel-item">
      <!-- Contents here -->
    </div>
    <div class="carousel-item">
      <!-- Contents here -->
    </div>
  </div>
</div>
